<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link href='//fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
  <link rel="stylesheet" href="stylesheets/css/md-theme.css">
  <link rel="stylesheet" href="stylesheets/css/styles.css">
</head>

<body ng-app="evervoiceApp" ng-controller="myCtrl" md-theme="md-theme">

<div>
  <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center"></md-whiteframe>
</div>

<div class="heading">
    EverVoice
</div>
    <div class="text-box">

      <textarea class="speech-box" name="content" ng-model="interimTranscript" autofocus></textarea>
    </div>

    <div class="sub">
      <div class="subtext">
        Just talk and send to Evernote!
      </div>
    </div>

      <div class="text-buttons">
        <div class="button1">
            <md-button class="md-raised button"  ng-click="dictate()">Record</md-button>
        </div>
        <div class="button2">
            <md-button class="md-raised button" ng-click="createNote()">Evernote</md-button>
        </div>
      </div>

<div class="response">
  <div class="message" ng-model="message">
    <span>{{message}}</span>
  </div>
</div>


<!-------------------SCRIPTS------------------------------->
 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>>
  <script src="scripts/script.js"></script>
</body>
</html>
