* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.textarea1 {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Nixie One', cursive;
  text-align: center;
  font-size: 4em;
  color: green;
  padding-top: 30px;
  padding-bottom: 30px; }
  .textarea1:after {
    content: "";
    display: table;
    clear: both; }

textarea {
  font-family: 'Nixie One', cursive; }

.textarea2 {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .textarea2:after {
    content: "";
    display: table;
    clear: both; }
  .textarea2 .speech-box {
    border: 1px solid green;
    width: auto;
    height: 200px;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%;
    margin-left: 21.32451%;
    padding-bottom: 50px;
    font-size: 1.2em; }
    .textarea2 .speech-box:last-child {
      margin-right: 0; }
  .textarea2 .text-buttons {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%;
    margin-left: 21.32451%;
    text-align: center; }
    .textarea2 .text-buttons:last-child {
      margin-right: 0; }
    .textarea2 .text-buttons .button1 {
      border: 1px solid #dbdbdb;
      border-radius: 3px;
      box-shadow: inset 0 1px 0 0 white;
      color: #333333;
      display: inline-block;
      font-size: inherit;
      font-weight: bold;
      background-color: #fff;
      background-image: -webkit-linear-gradient(#fff, #e3e3e3);
      background-image: linear-gradient(#fff, #e3e3e3);
      padding: 7px 18px;
      text-decoration: none;
      text-shadow: 0 1px 0 white;
      background-clip: padding-box;
      border: 1px solid #dfd8d8;
      border-radius: 3px;
      box-shadow: inset 0 1px 0 0 white;
      color: #333333;
      display: inline-block;
      font-size: inherit;
      font-weight: bold;
      background-color: #fff;
      background-image: -webkit-linear-gradient(#fff, #e5e0e0);
      background-image: linear-gradient(#fff, #e5e0e0);
      padding: 7px 18px;
      text-decoration: none;
      text-shadow: 0 1px 0 white;
      background-clip: padding-box;
      font-family: 'Nixie One', cursive;
      margin-right: 0;
      color: green;
      margin-right: 10px;
      background-color: white; }
      .textarea2 .text-buttons .button1:hover:not(:disabled) {
        box-shadow: inset 0 1px 0 0 white;
        cursor: pointer;
        background-color: #f2f2f2;
        background-image: -webkit-linear-gradient(#f2f2f2, #dbdbdb);
        background-image: linear-gradient(#f2f2f2, #dbdbdb); }
      .textarea2 .text-buttons .button1:active:not(:disabled), .textarea2 .text-buttons .button1:focus:not(:disabled) {
        border: 1px solid #dbdbdb;
        box-shadow: inset 0 0 8px 4px #d4d4d4, inset 0 0 8px 4px #d4d4d4; }
      .textarea2 .text-buttons .button1:hover:not(:disabled) {
        box-shadow: inset 0 1px 0 0 white;
        cursor: pointer;
        background-color: #f2f2f2;
        background-image: -webkit-linear-gradient(#f2f2f2, #ded8d8);
        background-image: linear-gradient(#f2f2f2, #ded8d8); }
      .textarea2 .text-buttons .button1:active:not(:disabled), .textarea2 .text-buttons .button1:focus:not(:disabled) {
        border: 1px solid #dfd8d8;
        box-shadow: inset 0 0 8px 4px #d7d1d1, inset 0 0 8px 4px #d7d1d1; }
      .textarea2 .text-buttons .button1:disabled {
        opacity: 0.5;
        cursor: not-allowed; }
    .textarea2 .text-buttons .button2 {
      border: 1px solid #dbdbdb;
      border-radius: 3px;
      box-shadow: inset 0 1px 0 0 white;
      color: #333333;
      display: inline-block;
      font-size: inherit;
      font-weight: bold;
      background-color: #fff;
      background-image: -webkit-linear-gradient(#fff, #e3e3e3);
      background-image: linear-gradient(#fff, #e3e3e3);
      padding: 7px 18px;
      text-decoration: none;
      text-shadow: 0 1px 0 white;
      background-clip: padding-box;
      border: 1px solid #dfd8d8;
      border-radius: 3px;
      box-shadow: inset 0 1px 0 0 white;
      color: #333333;
      display: inline-block;
      font-size: inherit;
      font-weight: bold;
      background-color: #fff;
      background-image: -webkit-linear-gradient(#fff, #e5e0e0);
      background-image: linear-gradient(#fff, #e5e0e0);
      padding: 7px 18px;
      text-decoration: none;
      text-shadow: 0 1px 0 white;
      background-clip: padding-box;
      font-family: 'Nixie One', cursive;
      margin-right: 0;
      color: green;
      background-color: white; }
      .textarea2 .text-buttons .button2:hover:not(:disabled) {
        box-shadow: inset 0 1px 0 0 white;
        cursor: pointer;
        background-color: #f2f2f2;
        background-image: -webkit-linear-gradient(#f2f2f2, #dbdbdb);
        background-image: linear-gradient(#f2f2f2, #dbdbdb); }
      .textarea2 .text-buttons .button2:active:not(:disabled), .textarea2 .text-buttons .button2:focus:not(:disabled) {
        border: 1px solid #dbdbdb;
        box-shadow: inset 0 0 8px 4px #d4d4d4, inset 0 0 8px 4px #d4d4d4; }
      .textarea2 .text-buttons .button2:hover:not(:disabled) {
        box-shadow: inset 0 1px 0 0 white;
        cursor: pointer;
        background-color: #f2f2f2;
        background-image: -webkit-linear-gradient(#f2f2f2, #ded8d8);
        background-image: linear-gradient(#f2f2f2, #ded8d8); }
      .textarea2 .text-buttons .button2:active:not(:disabled), .textarea2 .text-buttons .button2:focus:not(:disabled) {
        border: 1px solid #dfd8d8;
        box-shadow: inset 0 0 8px 4px #d7d1d1, inset 0 0 8px 4px #d7d1d1; }
      .textarea2 .text-buttons .button2:disabled {
        opacity: 0.5;
        cursor: not-allowed; }
  .textarea2 .subtext {
    font-family: 'Nixie One', cursive;
    font-size: 1.5em;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%;
    margin-left: 21.32451%; }
    .textarea2 .subtext:last-child {
      margin-right: 0; }

/*# sourceMappingURL=styles.css.map */
