$visual-grid: false;

@import "bourbon";
@import "neat";
$font: 'Nixie one', cursive;
$font-color: #2dbe60;


body {

  background-color: #fff;

  #particles-js {
    height: 100%;
    width: 100%;

    .login-title {
      @include outer-container;
      font-family: $font;
      @include span-columns(4);
      @include shift(4);
      text-align: center;
      @include position(fixed, 300px null null null);
      color: $font-color;
      font-weight: 300;
      font-size: 3em;

    }

    .login-panel {
      @include outer-container;
      @include span-columns(2);
      @include shift(5);
      text-align: center;
      @include position(fixed, 420px null null null);
      font-family: $font;
      color: #fff;
      padding: 10px;
      font-size: 1.2em;
      background-color: #2dbe60;
      @include border-top-radius(5px);
      @include border-bottom-radius(5px);
    }
  }

  .footer {
    position: absolute;

  }

}

