$visual-grid: false;
$visual-grid-index: front;

@import "bourbon";
@import "neat";

$font: 'Nixie one', cursive;
$color: #2dbe60;

  .md-whiteframe-z1 {
    margin: 0;
    padding: 20px;
    background-color: $color;
  }


  .login-text {
    @include outer-container;

    .login-title {
      @include span-columns(7);
      @include shift(2.5);
      font-family: $font;
      text-align: center;
      @include position(relative, 100px null null null);
      color: $color;
      font-weight: 300;
      font-size: 3em;
    }
  }

    .button1 {
      @include outer-container;
      @include position(relative, 150px null null null);
      text-align: center;

      .login-panel {
        width: 150px;
        text-align: center;
        font-family: $font;
        color: #fff;
        padding: 10px;
        font-size: 1.2em;
        background-color: $color;
        @include border-top-radius(5px);
        @include border-bottom-radius(5px);
        text-transform: capitalize;
      }
    }




