$visual-grid: true;

@import "bourbon";
@import "neat";

$color: green;

body {
  background-color : $color;

  .test {
    @include outer-container;
    font-family: $lucida-grande;
    @include span-columns(5);
    @include shift(3.5);
    text-align: center;


  }

}

