$visual-grid: false;
$visual-grid-index: front;


@import "bourbon";
@import "neat";


$font: 'Nixie One', cursive;
$color: #2dbe60;

.md-whiteframe-z1 {
  margin: 0;
  padding: 20px;
  background-color: $color;
}

.heading {
  @include outer-container;
  font-family: $font;
  text-align: center;
  font-size: 4em;
  color: $color;
  @include padding(70px null 30px null);
}
textarea {
  font-family: $font;

}
.text-box {
  @include outer-container;
  text-align: center;

  .speech-box {
    border: 1px solid $color;
    @include size(auto 200px);
    @include span-columns(7);
    @include shift(2.5);
    @include padding(null null 50px null);
    font-size: 1.2em;
  }
}

.sub {
  @include outer-container;
  text-align: center;

  .subtext {
    @include outer-container;
    font-family: $font;
    font-size: 1.5em;
    text-align: center;
    @include padding(20px null 20px null);
    @include span-columns(7);
    @include shift(2.5);
  }
}

  .text-buttons {
    @include outer-container;
    @include position(relative, 30px null null null);
    text-align: center;

    .button1 {
      display: inline;
      margin-right: 10px;
    }

    .button2 {
      display: inline;
    }

      .button {
        width: 150px;
        text-align: center;
        font-family: $font;
        color: #fff;
        padding: 10px;
        font-size: 1.2em;
        background-color: $color;
        @include border-top-radius(5px);
        @include border-bottom-radius(5px);
        text-transform: capitalize;
      }
    }

  .response {
    @include outer-container;
    @include position(relative, 60px null null null);

    .message {
      @include span-columns(4);
      @include shift(4);
      color: #000000;
      text-align: center;
      font-size: 1.3em;
      font-family: $font;
      padding: 20px 0;
    }
  }












